services:
  redis1:
    image: redis:7.2
    container_name: redis1
    ports:
      - "6380:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: >
      redis-server /usr/local/etc/redis/redis.conf
      --cluster-announce-ip redis1

  redis2:
    image: redis:7.2
    container_name: redis2
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: >
      redis-server /usr/local/etc/redis/redis.conf
      --cluster-announce-ip redis2

  redis3:
    image: redis:7.2
    container_name: redis3
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: >
      redis-server /usr/local/etc/redis/redis.conf
      --cluster-announce-ip redis3

  redis-cluster-init:
    image: redis:7.2
    container_name: cluster_init
    depends_on:
      - redis1
      - redis2
      - redis3
    entrypoint: >
      sh -c "
      sleep 5 &&
      redis-cli --cluster create
      redis1:6379
      redis2:6379
      redis3:6379
      --cluster-replicas 0
      --cluster-yes || true
      "
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -h redis1 -p 6379 cluster info | grep -q 'cluster_state:ok'"]
      interval: 2s
      timeout: 2s
      retries: 30

  app:
    build: .
    image: redis-pratice
    container_name: redis-practice
    volumes:
    - .:/app
    depends_on:
      redis-cluster-init:
        condition: service_healthy
    ports:
      - 8000:8000
    command: >
      python app.py
